.cart-drawer_header {
        padding-bottom: 10px !important;

}

h1, h2, h3, h4 {
    font-family: nudista-web, sans-serif !important;

}

svg#Account_Icon_V1_Image {
    width: 18px !important; 
}



/* Hide Mobile Banner On Desktop. */ 
 @media (min-width: 480px) {
section#shopify-section-template--19665974722630__hero_jVaWmY {
    display: none; 
}


 }

summary.menu__heading.h4 {
    border-top: 1px solid  var(--color-border);
}

main#MainContent.content-for-layout {
    overflow-x: scroll; 
}