.cart-drawer_header {
        padding-bottom: 10px !important;

}

h1, h2, h3, h4 {
    font-family: nudista-web, sans-serif !important;

}

svg#Account_Icon_V1_Image {
    width: 18px !important; 
}



/* Hide Mobile Banner On Desktop. */ 
 @media (min-width: 480px) {
section#shopify-section-template--19665974722630__hero_jVaWmY {
    display: none; 
}


 }

summary.menu__heading.h4 {
    border-top: 1px solid  var(--color-border);
}



/* product page styles  breadcrumbs css */
div.mobile-breadcrumbs-title.hidden--desktop {
   padding-top: .5rem;
   padding-bottom: .5rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

nav.breadcrumbs li#breadcrumb-text, nav.breadcrumbs a#breadcrumb-text {
   color: #656565 !important;
   font-size: 11px !important;
}

div.product-information__grid.product-information--media-left.product-information__grid--half {
h1 {
   font-size: 24px !important;
}
product.price.text-block.text-left h5.spacing-style {
   width: fit-content;
}

}

rte-formatter.spacing-style.text-block.text-block--AOElEaEJXMjFuMUdlM__text_cwd6rg.rte.text-block--align-center.text-block--background.rte  {
   p {
       font-size: 12px;
   }
}

* breadcrumbs styles css */
nav.breadcrumbs {
padding-top: 1%;
margin: 0px;
height: fit-content;




.breadcrumbs__list {
 display: flex;
 align-items: baseline;
 margin: 0px;
 gap: 3px;
 padding-left: 0px;

 li::marker {
   content: '';
   display: none !important ;
 }
}

@media (max-width: 480px) {
.breadcrumbs__list {
padding-left: 10px !important ;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 0px !important;
list-style: none !important;

li::marker {
   content: '' !important ;
 }
}
}


li#breadcrumb-text, a#breadcrumb-text {
color: #2c2c2c;
font-size: 14px !important ;
}

li::marker {
 display: none !important ;
}
}

div.spacing-style.slide__content.background-transparent {
   

    overflow: visible; 
}


/* Text block wrapper */
.text-block {
  box-sizing: border-box;
}


/* prevent horizontal overflow */
main#MainContent.content-for-layout {
    overflow-x: hidden; 
}
ol#breadcrumbs__list.breadcrumbs__list {
    display: flex; 
    gap: 10px; 
    padding-left: 0;
    
}